[tool.black]
line-length = 88
target-version = ["py311"]
skip-string-normalization = true # А мне 'одинарные кавычки' дороже автоформатирования!

[tool.isort]
profile = "black"
line_length = 88
skip_gitignore = true

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = false
warn_return_any = true
warn_unused_configs = true
disallow_untyped_defs = false
